.animateText {
  animation: animatedtext 1s ease 0.5s;
}

@keyframes animatedtext {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.animateBtn {
  transition: all 300ms ease;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba($background, 0.8);
  }
  &:active {
    transform: translateY(0) scale(0.98);
    box-shadow: none;
  }
}
