@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
$background: rgb(37, 119, 37);
$gradient: linear-gradient(
  to right bottom,
  rgba(#00b09b, 0.7),
  rgba(#96c93d, 0.9)
);
$borderradius: 7px;
:root {
  --size: 16px;
  --color-primary: #111;
  --color-secondary: #f6f7fb;
  --color-tertiary: #fdc500;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

@import "./nav";
@import "./typography";
@import "./utils";
@import "./animation";
@import "./header";
